@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #333333 !important;
  font-family: "Montserrat", sans-serif !important;
}
.gsc-results {
  background-color: transparent !important;
}
.gsc-result {
  border-radius: 10px !important;
}
.gsc-control-cse {
  font-family: "Montserrat", sans-serif !important;  
}
